#main{
  background-color:#17202A;
 border-radius:10px;
}
body{
  color:silver;
}
#title,#img-caption{
  text-align:center;
  padding:10px;
}
#tribute-info{
  font-family:sans-serif;
}
#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius:15px;
}

#img-caption{
  padding:10px;
}
#img-div{
  background:white;
  padding:15px;
  border-radius: 20px;
}
#img-caption{
  color:tomato;
}
#tribute-link{
color: navajowhite;
}
header p{
  font-size:20px;
}